body { 
	padding-top: 70px; 
	/*background-color: #E3F2FD;*/
}

.secondaryHeading{
	font-size: 30px;
}
.thirdHeading{
	font-size: 20px;
}
.labels{
	font-size: 20px;
}
.wizard{
	visibility: hidden;
}
.largeButton{
	font-size: 30px;
}
.red-text{
	color: red;
}

.smallButton {
	background-color:#7892c2;
	-webkit-border-radius:23px;
	border:3px solid #4e6096;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:5px 10px;
}
.smallButton:hover {
	background-color:#476e9e;
}
.smallButton:active {
	position:relative;
	top:1px;
}

.rightSidebar {
	margin: 0;
	padding: 0;
}

#wizard {
	margin: 0;
	padding: 0;
}

.navbar-right{
	padding-right:20px;
}

.btn-xheight{
	height: 200px;
	margin-top: 30px;
}

.row{
	margin-top: 10px;
}

.bs-docs-header{
  background-color: #1976D2;
}

.bs-docs-header h1 {
  color: #fff;
  text-align: center;
}

.navbar-title {
	font-size: 28px;
	font-weight: bold;
	margin: 0px;
	margin-top: 7px;
	text-align: center;
	/*width: 100%;*/
}

/*.navbar-option{
	background-color: #BBDEFB;
}

.navbar-option-active{
	background-color: #90CAF9;
}*/

.container.mainPanel {
	margin-bottom: 70px;
}

#top-panel {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border: 1px solid #cccccc;
	border-radius: 10px;
}

#top-panel * {
	font-size: 14px;
}

#top-panel input[type="text"] {
	line-height: 16px;
	height: 24px;
}

#top-panel .labels {
	padding-top: 4px;
}

#top-panel textarea {
	line-height: 16px;
	height: 45px;
}

#table-menu button {
	font-size: 11px;
	padding: 5px 0px;
}

#table-menu #newFormBtn {
	display:none;
}

#tableList .row, #residentList .row {
	border-top: 1px solid #dddddd;
	line-height: 70%;
	padding-top: 10px;
	cursor: pointer;
}

#tableList .row:nth-child(even), #residentList .row:nth-child(even) {
	background-color: #eeeeee;
}

#tableList .row:nth-child(odd), #residentList .row:nth-child(odd) {
	background-color: white;
}

#residentList .row {
	margin-top: 0px;
}

#tableList .row {
	margin: 0px;
}

#tableList {
	padding-left: 0px;
	padding-right: 0px;
}

#residentIdentifier p {
	font-weight: bold;
}

#residentListHeading .row {
	padding: 8px 0px;
	margin-top: 0px;
}

#tableListHeading * {
	background-color: #1976D2;
	color: white;
	font-weight: bold;
	cursor: default;
}

#residentListHeading * {
	background-color: #1976D2;
	border-top-right-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	cursor: default;
}

#tableListHeading {
	background-color: #1976D2;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 5px;
	color: white;
	font-weight: bold;
}

#residentList p, #tableList p {
	font-size: 12px;
}

#residentList .row.hovered-row, #tableList .row.hovered-row, #tableList .row.hovered-row * {
	background-color: #cccccc;
}

#residentList .row.selected-row, #tableList .row.selected-row, #tableList .row.selected-row * {
	background-color: #BBDEFB;
}

.row.selected-row {
	border-bottom: 1px solid white;
}

#tableList .row.flash, #tableList .row.flash * {
	background-color: #FFECB3;
}

.zeroMargin {
	margin: 0px;
	padding: 0px;
}

#daysLeftFormField {
	display: none;
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:30px;
  display: none;
}

#footer-text  {
	list-style-type: none;
	color: white;
}

#homePageContainer button:hover {
	background-image: none;
	background-color: white;
	border: 1px solid #1976D2;
}

#top-navbar-collapse {
	background-color: #1976D2
}

#top-navbar-collapse a {
	color: white;
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#top-navbar-collapse .active a, #top-navbar-collapse a:hover{
	background-color: white;
	background-image: none;
	border-left: 1px solid #1976D2;
	border-right: 1px solid #1976D2;
	color: #1976D2;
}

p.navbar-title.navbar-text {
	color: white;
	padding-left: 300px; 
}

#myTab > li > a {
	border: 1px solid #1976D2;
	border-bottom: 1px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #1976D2;
}

#myTab > li.active > a{
	border: 1px solid #1976D2;
	border-bottom: 1px solid white;
	background-color: #1976D2;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
}

#leftTable {
	margin-top: 0;
}

.jumbotron {
    padding: 0.3em 0.3em;
    h1 {
        font-size: 3em;
        text-align: center;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

#Dormup_title {
	font-weight: bold;
	color:#1976D2;
}

input[type=checkbox] {
	margin: 0px;
	padding: 0px;
}

.rightSidebar button:not(#guestStatusDropdownLabel) {
	background-image: none;
	background-color: white;
	border: 1px solid #1976D2;
	color: #1976D2;
}

.rightSidebar button:hover:not(#guestStatusDropdownLabel) {
	background-color: #eeeeee;
	border: 1px solid #1976D2;
	color: #1976D2;;
}

/*** start of scrollbar CSS ***/
#residentList {
	border: 1px solid #cccccc;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: auto;
}

#tableList {
	border: 1px solid #cccccc;
	overflow: auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

/*
The following two styles help ensure that the scrollbar is visible on mac
*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    background-color: rgba(0,0,0,.2);
    border-bottom-right-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*** end of scrollbar CSS ***/