body { 
	padding-top: 70px; 
	/*background-color: #E3F2FD;*/
}

/*p{
        padding: 50px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        background: #f2f2f2;
}*/

.mainHeading{
	font-size: 42px;
	/*background-color: #92B8E9;*/
	text-align: center;
	/*font-weight: bold;*/
	/*color:white;*/
	width: 100%;
}
.secondaryHeading{
	font-size: 30px;
}
.thirdHeading{
	font-size: 20px;
}
.labels{
	font-size: 20px;
}
.wizard{
	visibility: hidden;
}
.largeButton{
	font-size: 30px;
}

.smallButton {
	background-color:#7892c2;
	-webkit-border-radius:23px;
	border:3px solid #4e6096;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:5px 10px;
}
.smallButton:hover {
	background-color:#476e9e;
}
.smallButton:active {
	position:relative;
	top:1px;
}

.navbar-right{
	padding-right:20px;
}

.btn-xheight{
	height: 200px;
	margin-top: 30px;
}

.row{
	margin-top: 10px;
}

.bs-docs-header{
  background-color: #1976D2;
}

.bs-docs-header h1 {
  color: #fff;
  text-align: center;
}

/*.navbar-option{
	background-color: #BBDEFB;
}

.navbar-option-active{
	background-color: #90CAF9;
}*/
/*

/*********** Guest List ***********/

#item-details {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}

#item-list-options button {
	font-size: 11px;
	padding: 5px 0px;
}

#item-list-options #itemListNewFormBtn {
	display:none;
}

#itemList .row {
	margin: 0px;
	padding: 5px 0px;
	cursor: pointer;
}

#itemList {
	padding-left: 0px;
	padding-right: 0px;
}

.item-details-wizard p {
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	background-color: white;
	margin-top: 0px;
	padding: 0px;
}

#residentIdentifier p {
	font-weight: bold;
}

#itemList .row {
	border-top: 1px solid #dddddd;
}

#itemListHeading * {
	background-color: #1976D2;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#residentListHeading * {
	background-color: #1976D2;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

#residentListHeading .row, #residentList .row {
	padding: 2px 0px;
	margin-top: 0px;
	cursor: pointer;
}

#residentList .row {
	border-top: 1px solid #dddddd;
}

.zeroMargin {
	margin: 0px;
	padding: 0px;
}

#daysLeftFormField {
	display: none;
}

/*********** End of Guest List ***********/


.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:30px;
  display: none;
}

/***************/
#itemListHeading * {
	background-color: #1976D2;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
/**************/